
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #777; 
  }
  
  
  html, body {
    scrollbar-color: #555 #1e1e1e;
    overflow-y: auto; 
  }
  